node_modules/
.env
.env.local
dist/
out/
build/
.DS_Store
*.log
.remotion/
public/temp/
projects/
generated/
.claude/settings.local.json
.kiro
src/generated/projects.json
public/projects.json

# Python cache
__pycache__/*
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
src/generated/*
src/tmp_scripts/*
scripts/tmp_scripts/*

