node_modules/
.env
.env.local
dist/
out/
build/
.DS_Store
*.log
.remotion/
public/temp/
projects/
.claude/skills/video-script-generator/utils/__pycache__/
generated/
__pycache__/
.claude/settings.local.json
.kiro
.claude/skills/video-editor/strategies/__pycache__/*
src/generated/projects.json
public/projects.json
public/projects.json
.claude/skills/video-editor/utils/__pycache__/*
src/generated/projects.json